@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width:100%;
    height:100%;
    font-size: 15px;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
    margin: 0;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style:none;
    font-family: Helvetica;
  }
  
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
  

.mySlides {
    object-fit: cover;
    margin-top: 60px;
} 
/* Change color on hover */

@keyframes fadeIn {
    0% {
        opacity: 100;
    }

    100% {
       opacity: 0;
    }
}



/* About us */
.aboutus{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: url(assets/aboutsvg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 1rem;
    color: black;
}

.aboutus h1{
    font-size: 40px;
    font-weight: 600;
}

.aboutus h5{
    color:  white;
    font-size: 22px;

}
.clas p{
    color: white;
}

.aboutus .content{
    text-align: center;
    padding : 15px;
}

.clas img{
    width: 5rem;
}

.item{
    border-radius: 5px;
    width: minmax(250px, 500px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.item1{
    background-color: #9c2400;
    grid-area: item1;
}

.item2{
    background-color: #0078a3;
    grid-area: item2;
}

.item3{
    grid-area: item3;
    align-content: center;
}

.item4{
    background-color: #009270;
    grid-area: item4;
}

.clas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "item1  item1 item1"
        "item2 item2 item3"
        "item4 item4 item4";
    gap: 1rem;
    position: relative;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 15px;
}



/* Teams */
#team {
    width: 100vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* Column container */
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.team img {
    /* width: 100px; */
    height: 50vh;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

footer {
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
    /* background-color: #111827; */
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 16px 9px;
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer a {
    color: var(--light-color);
    font-size: 22px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;

}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2.5rem;
  border-radius: 0.75rem;
  background: #87052c;
  padding: 1.1rem;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.5s;
  opacity: 100%;
  color: #ffffff;
}

.hidden {
    opacity: 0%;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem 0;
    gap: 0.3rem;
}

.icons ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.icons ul li {
    list-style: none;
}

.icons ul li a {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    margin: 0 0 0 20px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    border: 3px solid #fff;
}

.icons ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
}

.icons ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.icons ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #55acee;
    transition: 0.5s;
    z-index: 2;
}

.icons ul li a:hover:before {
    top: 0;
}

.icons ul li:nth-child(2) a:before {
    background: black;
}

.icons ul li:nth-child(4) a:before {
    background: rgb(197, 24, 111);
}

/*  */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/* Testimonials */
.testimonials {
    padding: 40px 0;
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.testimonials .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.testimonials .inner h1 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
}

.testimonials .border {
    width: 160px;
    height: 2px;
    background: #d8b913;
    margin: 10px auto;
}

.testimonials .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials .row .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonials .row .col .testimonial {
    background: #ffffff;
    height: 100%;
    padding: 50px 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(130, 121, 121, 0.5) 0px 0 10px;
    -moz-box-shadow: rgba(130, 121, 121, 0.5) 0 0 10px;
    box-shadow: rgba(130, 121, 121, 0.5) 0 0 10px;
}

.testimonials .row .col .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonials .row .col .testimonial .name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.testimonials .row .col .testimonial .stars {
    color: #d8b913;
    margin-bottom: 20px;
}

.testimonials .row .col .testimonial .text {
    margin: 0;
}

@media screen and (max-width: 960px) {
    .testimonials .row .col {
        flex: 100%;
        width: 100%;
        max-width: 80%;
        margin: auto;
    }
}

/* FAQ's accoridan styling */
#faqs {
    margin: 20px;
    text-align: center;
    color: white;
}

.accordion {
    border-radius: 5px;
    background-color:white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.5s;
  }

  /*Plus and minus sign*/
  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; 
  }
  
  /* Add background color to the button when hovered and clicked on */
  .active, .accordion:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  }
  
  /* Answer panel styling */
  .panel {
    padding: 0 18px;
    color: black;
    text-align: left;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  background: #000115;
  cursor: none;
  z-index: -10;
}

.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1{
  color: rgba(255, 255, 255, 0.8);
  font-size: 65px;
}

.cursor{
  z-index: 9999999 !important;
  position: absolute;
  background: #01192a;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696E8,
              0 0 60px #2696E8,
              0 0 100px #2696E8;
  animation: colors 5s infinite;
  transform: all;
  display: inline-block;
}

@keyframes colors{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.cursor:before{
  content: '';
  position: absolute;
  background: #2696E8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
      
/* contributors CSS */
.contributors{
    display: flex;
    flex-wrap:wrap;
}
.contributors a,
.contributors a img{
    max-width: 100%;
    margin-bottom:.2rem;
}

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 28px;
	width: auto;
	display: block;
  filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
    transition: all 200ms linear;
}
.nav-item:hover{
	box-shadow: inset 0 0 0 3px #ffffff;
}

.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
    color: #ffffff !important;
    font-weight: bold;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}

.nav-item{
	position: relative;
    transition: all 200ms linear;
    padding-right: 60px; /*change according to item */
    padding-left: 60px;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}


