@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width:100%;
    height:100%;
    font-size: 15px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Style the top navigation bar */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style:none;
  }
  
  #navBar{
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: block;
    float: left;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    position: sticky;
    top: 0px;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
  
  #navBar ul{
    display: flex;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  #navBar li{
    display: block;
    float: left;
    text-align: center;
    width: 20%; /* Change this incase of adding a new menu item. */
    transition: all ease-in-out .3s;
  }
  #navBar a{
    display: block;
    float: left;
    color: white;
    width: 100%;
    padding: 0 .5em;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
  }
  
  #navBar li:hover {
    box-shadow: inset 0 0 0 3px #ffffff;
  }

.mySlides {
    object-fit: cover;
    margin-top: 50px;
    height: 90vh;
} 
/* Change color on hover */

@keyframes fadeIn {
    0% {
        opacity: 100;
    }

    100% {
       opacity: 0;
    }
}



/* About us */
#about {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.w3-opacity {
    opacity: 0.9;
    color: rgb(54, 219, 70);
}

.w3-justify {
    opacity: 0.85;
}

/* Teams */
#team {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.teamwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team.w3-third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#teamtext {
    margin: 10px;
}

.john-text, .paula-text, .ringo-text {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.imgwrapper {
    width: 75%;
    height: 100%;
    margin-bottom: 10px;
    overflow-x: hidden;
}

#john, #paula, #ringo {
    border-radius: 50%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* Column container */
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.team img {
    /* width: 100px; */
    height: 50vh;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

footer {
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
    /* background-color: #111827; */
    color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 16px 9px;
    padding: 15px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer a {
    color: var(--light-color);
    font-size: 22px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;

}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2.5rem;
  border-radius: 0.75rem;
  background: #fa709a;
  padding: 1.1rem;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.5s;
  opacity: 100%;
  color: #ffffff;
}

.hidden {
    opacity: 0%;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem 0;
    gap: 0.3rem;
}

.icons ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.icons ul li {
    list-style: none;
}

.icons ul li a {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    margin: 0 0 0 20px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    border: 3px solid #fff;
}

.icons ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
}

.icons ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.icons ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #55acee;
    transition: 0.5s;
    z-index: 2;
}

.icons ul li a:hover:before {
    top: 0;
}

.icons ul li:nth-child(2) a:before {
    background: black;
}

.icons ul li:nth-child(4) a:before {
    background: rgb(197, 24, 111);
}

/*  */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/* Testimonials */
.testimonials {
    padding: 40px 0;
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.testimonials .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.testimonials .inner h1 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
}

.testimonials .border {
    width: 160px;
    height: 2px;
    background: #d8b913;
    margin: 10px auto;
}

.testimonials .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials .row .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonials .row .col .testimonial {
    background: #ffffff;
    height: 100%;
    padding: 50px 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: rgba(130, 121, 121, 0.5) 0px 0 10px;
    -moz-box-shadow: rgba(130, 121, 121, 0.5) 0 0 10px;
    box-shadow: rgba(130, 121, 121, 0.5) 0 0 10px;
}

.testimonials .row .col .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonials .row .col .testimonial .name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.testimonials .row .col .testimonial .stars {
    color: #d8b913;
    margin-bottom: 20px;
}

.testimonials .row .col .testimonial .text {
    margin: 0;
}

@media screen and (max-width: 960px) {
    .testimonials .row .col {
        flex: 100%;
        width: 100%;
        max-width: 80%;
        margin: auto;
    }
}

/* FAQ's accoridan styling */
#faqs {
    margin: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion {
    border: none;
    margin: 3px;
    border-radius: 15px 0 0 0;
    background-color:white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
  }

  /*Plus and minus sign*/
  .accordion:after {
    content: '\02795';
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; 
  }
  
  /* Add background color to the button when hovered and clicked on */
  .active, .accordion:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  }
  
  /* Answer panel styling */
  .panel {
    padding: 0 18px;
    margin-top: -3px;
    margin-bottom: 2px;
    border-radius: 0 0 15px 0;
    color: black;
    text-align: left;
    background-color: white;
    /* width: 50%; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
  }



body{
  height: 100vh;
  background: #000115;
  cursor: none;
}

.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1{
  color: rgba(255, 255, 255, 0.8);
  font-size: 65px;
}

.cursor{
  z-index: 9999999 !important;
  position: absolute;
  background: #01192a;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696E8,
              0 0 60px #2696E8,
              0 0 100px #2696E8;
  animation: colors 5s infinite;
  transform: all;
  display: inline-block;
}

@keyframes colors{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.cursor:before{
  content: '';
  position: absolute;
  background: #2696E8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
      